<!DOCTYPE html>
<html>
<head>
    <title>Sign-in page</title>
    <link rel="stylesheet" type="text/css" href="../static/signin.css">
</head>
<body>
    <div class="container">
        <div class="overlay">
            <p><img src="../static/log2.jpg" width="100px"  height="100px"  alt="loginlog"/></p>
            <h2>Provide Login Details</h2>
            <form action="{{ url_for('signin') }}" method="post">
                <input type="email" name="email" placeholder="Email" autocomplete="no" required>
                <input type="password" name="password" placeholder="Password" autocomplete="no" required><br>
                <button class="button" type="submit">Submit</button>
                <a class="button" href="{{url_for('index')}}">BACK</a> <br>
                <a class="button_pass"  href="{{url_for('forget_password')}}">Reset Password</a>
            </form>

            <p class="notification" id="notification">{{ message }}</p>

        </div>
    </div>
</body>
</html>
