<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Home Page</title>
    <link rel="stylesheet" type="text/css" href="../static/start.css">
</head>
<body>
    <div class="container">
        <div class="overlay">
            <p><b>WELCOME TO CampusNotifier Bot</b></p><br><br>
            <a href="{{url_for('signup')}}"><button class="button">Sign Up</button></a>
            <a href="{{ url_for('signin') }}"><button class="button">Sign In</button></a>
        </div>
    </div>
</body>
</html>
